<div class="market-container">
  <!-- FlyOut Menu -->
  <div class="flyout-menu" [class.open]='isMenuOpen()'>
    <button class="close-btn" (click)="toggleMenuShow()">☰</button>
    <div class="menu-content">
      <h3>Categories</h3>
      <ul class="categories-list">
        @for (category of categories(); track $index) {
<!--          <li (click)="toggleSubcategories()">-->
<!--            <span class="red-span">{{category.Name}}</span>-->
<!--            <ul *ngIf="isCategoryOpen()">-->
<!--              @for (subcategory of category.SubCategories; track $index) {-->
<!--                <li>{{ subcategory.Name }}</li>-->
<!--              }-->
<!--            </ul>-->
<!--          </li>-->
          <app-category [category]="category" />
        }
      </ul>
    </div>
  </div>

  <!-- Main Content (Products and Pagination) -->
  <div class="main-content">

    <!-- Product Grid -->
    <div class="product-grid">
      @for (product of products(); track $index) {
        <app-item [product]="product"/>
      }
    </div>

    <!-- Pagination -->
    <div class="pagination">
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</div>
