<header class="header-container">
  <div class="logo-container">
    <img src="../../../../public/assets/logo.png" alt="Logo" class="logo" />
  </div>

  <nav class="nav-links">
    <a href="/home" class="nav-link">Home</a>
    <a href="/market" class="nav-link">Marketplace</a>
    <a href="/who-we-are" class="nav-link">Who We Are</a>
  </nav>

  <div class="auth-container">

    <button class="login-btn" *ngIf="isLoggedIn()" (click)="logOut()">Logout</button>
    <button class="login-btn" *ngIf="!isLoggedIn()" (click)="openLogin()">Sign In</button>
  </div>
</header>
